.signup{
    width:90%;
    max-width:1000px;
    margin:100px auto 0 auto;
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.signIn{
    width:348px;
    heigth:279px;
    margin:15px auto 0 auto;
}
.form>span{
    font-size:30px;
}

.logo{
    width:100%;
    margin:15px auto 15px auto;
    text-align: center;
}

.logo>span{
    font-size:30px;
}

.next{
    background-color: goldenrod;
    width:100%;
}

.signUp{
    margin-top : 20px;
    padding-top : 20px;
}

.signUp>button{
    background-color: #dddddd;
    width:100%;
}

.account{
    width:90%;
    max-width:700px;
    margin:100px auto 0 auto;
}

.account>span{
    font-size:30px;
}

.edit{
    width:70px;
    height:48px;
}

.account-form{
    width:250px;
}

.explanation{
    margin:15px 0px 15px 0px;
}

.btn-change{
    background-color: goldenrod;
    width:150px;
}