#carousel{
    margin-top:62px;
    max-width:100%;

}

.main{
    margin: 0 auto 0 auto;
    width:80%;

}
.carousel-gradient{
    mask-image: linear-gradient(black, black, transparent);
    -webkit-mask-image: linear-gradient(black, black, transparent);
    max-height:10%;
    margin: 0 auto 0 auto;
}

.item-list{
    margin: -12% auto 0 auto;
    width: 100%;
    padding: 0 0;
}

.main-inner{
    margin: 0 auto 0 auto;
    width:95%;
}

.main-inner-group-item{
    margin: 0 auto 0 auto;
    width:95%;
    background: white;
    overflow:hidden;
    z-index: 999;
}

.main-inner-group-item:hover{
    overflow: auto;
    z-index:999;
}

.product-img{
    height: 200px;
    width:auto;
}