<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>HappyMall - Error</title>
    <%include common.ejs%>
</head>
<body>
    <%include header.ejs%>
    <div class="main">
        <div class="container-fluid">
            <!-- To do : Add 404 page -->
            페이지를 찾을 수 없습니다.
        </div>
    </div>
</body>
</html>