<!-- Sidebar Left -->
<div class="modal fade left" id="mySidebar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
            <div class="sidebar bg-dark">
                <div id="sideMenu" class="d-flex flex-column">
                    <div class="bg-dark welcome">
                        <span class="text-white">환영합니다. 로그인</span>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-info mr-auto">카테고리별로 구입</span>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">DVD, 만화 & 게임</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">전기, 카메라 & 영상기기</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">컴퓨터 & 사무용품</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">주방용품, 침대 & DIY</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">식기, 음료 & 술</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">약품 & 화장품</span>
                        <i class="fas fa-chevron-right more"></i>
                    </div>
                    <div class="d-flex bg-white category border-top">
                        <span class="text-info mr-auto">개인메뉴</span>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">주문이력</span>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">인기상품</span>
                    </div>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">계정정보</span>
                    </div>
                    <% if(session.authorized){ %>
                    <div class="d-flex bg-white category">
                        <span class="text-normal mr-auto">로그아웃</span>
                    </div>
                    <% } %>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>