<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>HappyMall</title>
    <%include common.ejs%>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
    <%include header.ejs%>
    <div class="container">
        <div class="card bg-light history">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">주문이력</h4>
            </article>
        </div>
    </div>
</body>
</html>