<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>HappyMall</title>
    <%include common.ejs%>
    <link rel="stylesheet" href="/css/history.css">
    <script>
        $(function(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        })
    </script>
</head>
<body>
    <%include header.ejs%>
    <div class="container">
        <div class="card bg-light history">
            <article class="card-body" style="max-width: 1200px;">
                <h4 class="card-title mt-3 text-center">상품등록</h4>
                    <form action="/procProduct" method="post" enctype="multipart/form-data">
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">제목</span>
                            </div>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">분류</label>
                            </div>
                            <select class="custom-select" id="category" name="category">
                                <option selected>분류를 선택해주세요</option>
                                <% for(var i = 0; i < category.length; i++){ %>
                                    <option value="<%=category[i][1]%>"><%=category[i][0]%></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">가격(₩)</span>
                            </div>
                            <input type="text" class="form-control" name="price">
                        </div>
                        <div class="form-group">
                            <label for="comment">상품설명</label>
                            <textarea class="form-control" rows="5" id="content" name="content"></textarea>
                        </div>
                        <div class="custom-file input-group-sm">
                            <input type="file" class="custom-file-input" id="customFile" name="fileName">
                            <label class="custom-file-label" for="customFile">File Upload</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">등록하기</button>
                    </form>
            </article>
        </div>
    </div>
</body>
</html>